
h1 {
    color: rgb(255, 0, 0);
      }
.header{
    background-color: cyan;
    display: flex;
    justify-content: space-between;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
body{
background-color: #0fff;
}